/* Global Classes */

* {
    box-sizing: border-box;
}
.anchor {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}
html {
    width: 100%;
}

/************************************************************/


/* HEADER */


/************************************************************/


/* Navigation Hexagon */

#navTakeOver {
    font-size: 0;
    display: none;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hexTopNav {
    width: 300px;
    border-bottom: 100px solid #000;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    z-index: 999;
}
.hexBotNav {
    width: 300px;
    margin: 0 auto;
    border-top: 99px solid #000;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
}
.hexMidNav {
    width: 348px;
    height: 225px;
    margin: -.1px auto;
    background-color: #000;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
    position: relative;
}
.hexLinks {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 12;
    font-size: 40px;
}
.hexLinks li {
    margin-bottom: 20px;
}
.hexLinks li a:hover {
    color: #8686ac;
}
.hexLinks li a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* End nav hex */

body {
    background: #fff;
    width: 100%;
}
header {
    height: 100vh;
    min-height: 675px;
    background: #000;
    width: 100%;
    text-align: right;
    clear: both;
}
.menCon {
    height: 70px;
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 15;
}
#hamMen {
    width: 50px;
    height: 50px;
    z-index: 10;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
}
#hamMen div {
    height: 5px;
    background: #fff;
    margin: 8px;
}
#hamMenuLinks {
    display: none;
    color: #fff;
    width: 100%;
    background: white;
    position: fixed;
    height: 100vh;
    min-height: 500px;
    z-index: 9;
}
.menu {
    width: 150px;
    border: 5px solid #fff;
    margin: 0 100px;
    text-align: right;
    opacity: 1;
    animation-name: menuFadeIn;
    animation-duration: 4s;
    animation-delay: 0;
}
@keyframes menuFadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    display: block;
    border-bottom: 2px solid #fff;
    text-align: left;
    padding: 10px;
    padding-left: 0;
    width: 75%;
    margin: 0 auto;
}
.menu a:last-child {
    border-bottom: none;
}
#logo {
    position: relative;
    height: 100%;
}
#name {
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hexTop {
    width: 300px;
    border-bottom: 100px solid #fff;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    margin: 0 auto;
}
.topAni {
    animation-name: hexTop;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.hexBot {
    width: 300px;
    margin: 0 auto;
    border-top: 99px solid #fff;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    margin: 0 auto;
}
.botAni {
    animation-name: hexBot;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.hexMid {
    width: 350px;
    height: 225px;
    margin: 0 auto;
    border: 0 transparent;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}
.midAni {
    animation-name: hexMid;
    animation-duration: 2s;
    animation-timing-function: linear;
}
#rcLogoDiv {
    width: 100%;
    height: 100%;
    position: relative;
    animation-name: logoTrans;
    animation-duration: 2s;
    animation-timing-function: linear;
}
#rcLogoText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#rcLogoText span {
    font-size: 150px;
}
#nameSwitch {
    padding-top: 60px;
}
h1 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}
#title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    color: #000;
}
#code {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #000;
}
#nameSwitch {
    display: none;
}

/* Media Queries for Responsiveness */

@media screen and (min-width: 575px) {
    @keyframes hexTop {
        0% {
            width: 300px;
            border-bottom: 100px solid #fff;
            border-left: 175px solid transparent;
            border-right: 175px solid transparent;
            margin: 0 auto;
        }
        50% {
            width: 525px;
            border-bottom: 150px solid #fff;
            border-left: 264px solid transparent;
            border-right: 264px solid transparent;
            margin: 0 auto;
        }
        100% {
            width: 300px;
            border-bottom: 100px solid #fff;
            border-left: 175px solid transparent;
            border-right: 175px solid transparent;
            margin: 0 auto;
        }
    }
    @keyframes hexBot {
        0% {
            width: 350px;
            margin: 0 auto;
            border-top: 100px solid #fff;
            border-left: 175px solid transparent;
            border-right: 175px solid transparent;
            margin: 0 auto;
        }
        50% {
            width: 525px;
            margin: 0 auto;
            border-top: 150px solid #fff;
            border-left: 264px solid transparent;
            border-right: 264px solid transparent;
            margin: 0 auto;
        }
        100% {
            width: 350px;
            margin: 0 auto;
            border-top: 100px solid #fff;
            border-left: 175px solid transparent;
            border-right: 175px solid transparent;
            margin: 0 auto;
        }
    }
    @keyframes hexMid {
        0% {
            width: 350px;
            height: 225px;
        }
        50% {
            width: 525px;
            height: 300px;
        }
        100% {
            width: 350px;
            height: 225px;
        }
    }
    @keyframes logoTrans {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        25%% {
            opacity: 0;
        }
        50% {
            transform: scale(1.5);
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opactiy: 1;
        }
    }
}

/************************************************************/


/* BIO */


/************************************************************/

#bContainer {
    background: #fff;
    clear: both;
    height: 100vh;
    min-height: 675px;
}
#bioContainer {
    background: url("../images/rc1.png") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 675px;
    z-index: 8;
}
#bioTxtContainer {
    margin: 0 auto;
    width: 85%;
    height: 100%;
    padding: 5% 0;
    position: relative;
}
#bioTxt {
    width: 325px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50px;
}
h2#bioHeader {
    margin: 30px 30px;
    color: #fff;
    z-index: 20;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.bioContent {
    color: #fff;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 0 25px 25px 30px;
    line-height: 20px;
}
#bioLogos {
    text-align: center;
    padding-bottom: 20px;
}
.socialBioImg {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}

/* Media query for Header and Bio container at 575px */

@media screen and (max-width: 575px) {
    .menCon {
        background: #000;
    }
    #bioContainer {
        padding: 0;
        margin: 0;
    }
    #bioTxtContainer {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }
    #bioTxt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0px;
        padding: 0px;
    }
}
@media screen and (min-width: 575px) {
    #bioTxtContainer {
        margin-left: 75px;
    }
}

/************************************************************/


/* Work */


/************************************************************/

#wContainer {
    width: 100%;
    z-index: 0;
    background: #000;
}
#workContainer {
    position: relative;
    min-height: 100vh;
    width: 100%
}
#workContainer h2 {
    width: 85%;
    margin: 0 auto;
    padding-top: 40px;
    color: #fff;
    z-index: 20;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}
.workRow {
    width: 85%;
    margin: 0 auto;
    max-width: 900px;
}
.workDiv {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    background: gray;
    border: 5px solid #fff;
    border-radius: 50%;
}
.workDiv:hover {
    transform: scale(1.1);
}
@media screen and (min-width: 768px) {
    #workContainer h2 {
        margin-left: 75px;
        border-bottom: none;
    }
    .workRow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/************************************************************/


/* Contact */


/************************************************************/

#cContainer {
    min-height: 100vh;
    width: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, .8);
    ;
}
#contactContainer {
    width: 85%;
    margin: 0 auto;
}
#contactContainer h2 {
    width: 100%;
    margin: 10px auto;
    padding-top: 40px;
    color: #fff;
    z-index: 20;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}
.rcContactList {
    list-style: none;
    margin-bottom: 20px;
}
.ss-q-title {
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.ss-q-short {
    background: #333333;
    border: 2px solid black;
    color: #fff;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 325px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.ss-q-long {
    background: #333333;
    color: #fff;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 325px;
    height: 150px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: 2px solid black;
}
.styled-button {
    background: #5CCD00;
    background: -moz-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5CCD00), color-stop(100%, #4AA400));
    background: -webkit-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -o-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -ms-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400', GradientType=0);
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #459A00;
    width: 100%;
    max-width: 325px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
input:focus,
textarea:focus {
    background: #000;
}
